@charset "UTF-8";

body {
    font-family: Arial;
    line-height: 1.3;
    background-color: #5356FF;
    margin: 0;
}

/* Home Page */
.Title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 450px;
    background-color: #67C6E3;
    border-bottom: solid 5px #ffde00;;
    padding: 10px 10px;
}

.Title img {
    width: 100px;
    height: 100px;
}

/* Navigation */
.nav-bar {
    background-color: #DFF5FF;
    padding: 12px 10px;
    text-transform: uppercase;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.nav-link a:link, .nav-bar a:visited {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 3px #DFF5FF;
}

.nav-link a:hover, .nav-bar a:active {
    border-bottom: solid 3px #378CE7;
}

/* Images in Front Page */
.image-container {
    margin: 70px 100px;  
}

.front-image1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.front-image2 {
    display: flex;
    justify-content: space-around;
}

.front-image1 img, .front-image2 img {
    border: solid 3px #333333;
    box-shadow: 5px 5px 10px #333333;
}

/* Footer */
footer {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.1;
    border-top: solid 5px #ffde00;;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #67C6E3;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.footer-container img {
    width: 100px;
    height: 100px;
}

.footer-contacts {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 200px;
}

/* Footer Copyright */
.copyright {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    background-color: #DFF5FF;
    padding: 5px 0;
}